:root {
    --mainContainerHeight: calc(100vh - 150px);
    --mainContainerWidth: calc(100vw - 140px);
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }


.customNavbar {
    padding: 4px !important;
    
    background-color: #28164711;
   /*
    box-shadow: rgba(0, 0, 0, 0.07) 0px 10px 20px, rgba(0, 0, 0, 0.13) 0px 6px 6px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    */
}

/*
    .customNavbar:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: .1px;
        border: none;
        background-color: #19255611;
        backdrop-filter: blur(100px);
        -webkit-backdrop-filter: blur(100px);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 12px;
    }
    */

.nabBarContainer {
    display: flex;
    justify-content: space-between;
}

/*
ul {
    list-style-type: none;
}

li {
    float: right;
}

*/




.noBackground {
    background-image: none !important;
    background-color: #ffffffbb !important;
}
    .noBackground#logoContainer {
        background-color: red !important;
    }



#passwordWindow {
    display: none;
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff44;
}

#passwordInput {
    -webkit-text-security;

}

#passwordWindow > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1em 3em 2em 3em;
    background-color: #fff; /*#2d2f46*/
    border-radius: 1.3em;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

#passwordWindow input:focus {
    box-shadow: none;
}

#passwordWindow label {
    font-weight: 600;
    margin-bottom: 22px;
}

#passwordWindow a {
    cursor: pointer;
}

#closePasswordWindowBtn {
    width: 25px;
    height: 25px;
    background-image: url("/img/x.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.6;
}

    #closePasswordWindowBtn:hover {
        opacity: 1;
    }




.encryptedFile {
    height: 100px;
}

.displayUploadedImgCaseTableContainer {
    position: absolute;
    bottom: 18px;
    overflow-y: hidden;
    overflow-x: auto;
    height: fit-content;
    /*FOR FIREFOX*/
    scrollbar-color: #d6dee1 transparent;
    scrollbar-width: thin;
    min-height: 130px;
    max-height: 155px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
    width: 0;
    padding: 0.5em 0px;
    /*background-image: linear-gradient(315deg, #00ffa144 30%,#8f00ff44 );*/
    background-color: transparent;
    border-radius: 0;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    border-top: solid thin #717792
}



    .displayUploadedImgCaseTableContainer:last-of-type {
    }




#displayUploadedImg, #displayUploadedImgDownload {
    display: flex;
    justify-content: center;
    width: fit-content;
}

    #displayUploadedImg span, #displayUploadedImgDownload span {
        font-size: 0.7em;
        text-align: center;
        word-break: break-all;
        font-weight: 600;
    }

    #displayUploadedImg > div, #displayUploadedImgDownload > div {
        width: 70px;
        margin: 0 5px;
        height: fit-content;
    }


    #displayUploadedImg img, #displayUploadedImgDownload img {
        height: 60px;
        margin: 0.2em 0.3em;
    }



input[type="file"] {
    display: none;
}

.tableButtonCell a, .altrnativetableButtonCell a,
.tableButtonCell input, .altrnativetableButtonCell input,
.tableButtonCell button, .altrnativetableButtonCell button {
    margin: 0.2em 0.5em;
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    justify-content: center;
    line-height: 0;
    overflow-wrap: break-word;
    text-decoration: none;
    width: auto;
    min-width: 40px;
    border-radius: 6px;
    cursor: pointer;
    touch-action: manipulation;
    padding: 18px 20px;
    border-radius: 15px;
}

.tableButtonEncrypt:before, .tableButtonDecrypt:before {
    content: attr(title);
}


.tableButtonCell > .tableButtonEncrypt {
    font-size: 1.1em;
    color: #fff !important;
    background-color: #2d2f46;
    border: solid 1.5px #2d2f46; /*43455c*/
    padding-right: 20px;
    padding-left: 20px;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
}


.tableButtonCell > .tableButtonDecrypt {
    font-size: 1.1em;
    border: solid 1.5px #333; /*43455c*/
    background-color: #f4f1fedd;
    color: #2d2f46;
    padding-right: 20px;
    padding-left: 20px;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
}



    .tableButtonCell > .tableButtonEncrypt:after,
    .tableButtonCell > .tableButtonDecrypt:after {
        content: '\00bb'; /*for refresh  '\21bb'*/
        position: absolute;
        opacity: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 12%; /*start arrow from*/
        transition: all 0.4s;
    }

    .tableButtonCell > .tableButtonEncrypt:hover,
    .tableButtonCell > .tableButtonDecrypt:hover {
        padding-right: 30px; /*expand button value*/
    }

        .tableButtonCell > .tableButtonEncrypt:hover:after,
        .tableButtonCell > .tableButtonDecrypt:hover:after {
            opacity: 1;
            right: 6px;
        }



.tableButtonCell > .tableButtonAddPassword {
    background-image: url("/img/shield-lock.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    background-size: 1.65em;
    margin-right: 0.7em;
}

.tableButtonCell > .tableButtonAddPasswordGreen {
    background-image: url("/img/shield-lock-fill-green.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    background-size: 1.65em;
    margin-right: 0.7em;
}


.tableButtonCell > .tableButtonAddImage {
    background-image: url("/img/cloud-plus-fill4.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    background-size: 2em;
    background-position-x: 2px;
    background-position-y: 5px;
    margin-right: 0.7em;
    margin-left: 1.4em;
}

.tableButtonCell > .tableButtonRemoveFiles {
    background-image: url("/img/arrow-clockwise.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    background-size: 1.75em;
    margin-right: 0.7em;
}

.tableButtonCell > .downloadFiles {
    background-image: url("/img/download.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    background-size: 1.75em;
    margin-right: 0.7em;
}



#dropZoneContainer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    height: var(--mainContainerHeight);
}

#dropZone {
    position: absolute;
    border: 0;
    background-color: #4d298a01; /*  #f4f1fe55  #4d298a11 */
    /*  background-image: url("/img/upload.svg"), linear-gradient(315deg, #00ffa166,#8f00ff44 );  */
    /*
    background-image: url("/img/upload.svg"), url("/img/logo&Name.svg");
    background-size: clamp(300px, 38%, 600px), clamp(120px, 13%, 180px);
    background-position: center, top;
    background-position-x: unset, 70%;
    */
    background-image: url("/img/drop&Drag.svg");
    background-size: clamp(100px, 60vw, 220px);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: var(--mainContainerWidth);
    height: var(--mainContainerHeight);
    transition: all ease-in-out 0.6s;
    overflow: auto;
    /*hide scrollbar FOR FIREFOX*/
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    padding: 20px 35px;
    backdrop-filter: blur(110px);
    -webkit-backdrop-filter: blur(110px);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: solid thin #23243522;
}


#logoContainer {
    position: absolute;
    right: 2em;
    top: 6em;
    width: 145px;
    height: 135px;
    background-color: #ffffff;
    border-radius: 16px;
    background-image: url("/img/logo&Name.svg");
    background-size: 7em;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border: solid thin #ddd;
    transform: scale(0);
    animation: scaleUp 1s 2s ease-out forwards
}

@keyframes scaleUp{
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


    /*hide scrollbar FOR Safari and Chrome*/
    #dropZone::-webkit-scrollbar {
        display: none;
    }



.dropZoneAlternativeBackground {
    background-image: url("/img/plus-square.svg") !important;
    background-color: #ffffff22 !important;
    transition: all ease-in-out 0.3s !important;
}


#dropZoneContainer {
    -webkit-perspective: 500px; /* Chrome, Safari, Opera */
    perspective: 1000px;
    position: relative;
}

#dropZone, #InfoZone {
    -webkit-transition: 2s; /* Safari */
    transition: 1.4s;
}

#InfoZone {
    background: #f4f1fe;
    -ms-transform: rotateY(-180deg); /* IE 9 */
    -webkit-transform: rotateY(-180deg); /* Chrome, Safari, Opera */
    transform: rotateY(-180deg);
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    border: 0;
    width: var(--mainContainerWidth);
    height: var(--mainContainerHeight);
    overflow: auto;
    /*hide scrollbar FOR FIREFOX*/
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    border-radius: 20px;
    position: absolute;
    padding: 20px 32px;
    resize: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-size: 16px;
}

    /*hide scrollbar FOR Safari and Chrome*/
    #InfoZone::-webkit-scrollbar {
        display: none;
    }


    #InfoZone:focus {
        outline: none;
    }

#displaySelectedTextFiles {
    font-family: monospace;
    margin-right: 30px;
    font-weight: 600;
    color: #2d2f46;
}

#filesTextSelectorContainer {
    position: relative;
    width: 90px;
    height: 28px;
    border: 0;
    border-radius: 13px;
    margin-right: 10px;
    background-color: #2d2f46;
}


    #filesTextSelectorContainer img {
        height: 65%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        cursor: pointer;
    }

#filesTextSelectorBackground {
    background-color: #76c2af;
    height: 100%;
    width: 45px;
    left: 0;
    position: absolute;
    border-radius: 11px;
    transition: 1s;
}

.errorElName {
    font-weight: 600;
    font-family: monospace;
}

#customSpinner {
    color: #2d2f46;
    display: none;
}

#startInfoDiv {
    position: absolute;
    display: none;
    left: 15px;
    background-color: #2d2f46cc;
    padding: 0.8em 1.6em 1.7em 2.2em;
    z-index: 2;
    word-break: break-word;
    max-width: 260px;
    font-weight: 500;
    border-radius: 14px;
    font-family: monospace;
    font-size: 0.85em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: white;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

    #startInfoDiv li {
        margin-top: 8.5px;
    }



        #startInfoDiv li::first-letter {
            font-size: 150%;
        }

#processingMsg {
    font-family: monospace;
    margin-left: 5px;
    font-size: 0.85em;
    font-weight: 600;
}


#startInfoClose {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    height: 1.8em;
}


@keyframes processingAnimation {
    0% {
        opacity: 0.9;
        filter: blur(4px);
        letter-spacing: 2px;
    }
}






html {
    font-size: 0.85em;
    position: relative;
    min-height: 100%;
}


body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(135deg, transparent 0%, transparent 15%,rgba(177,152,245, 0.23) 15%, rgba(177,152,245, 0.23) 71%,transparent 71%, transparent 90%,rgba(177,152,245, 0.23137254901960785) 90%, rgba(177,152,245, 0.23137254901960785) 100%),linear-gradient(45deg, transparent 0%, transparent 47%,rgb(56,56,91) 47%, rgb(56,56,91) 58%,rgb(56,56,91) 58%, rgb(56,56,91) 80%,transparent 80%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    /*
    background-image: linear-gradient(135deg, transparent 0%, transparent 15%,rgba(177,152,245, 0.3) 15%, rgba(177,152,245, 0.3) 71%,transparent 71%, transparent 90%,rgba(177,152,245, 0.23137254901960785) 90%, rgba(177,152,245, 0.23137254901960785) 100%),linear-gradient(45deg, transparent 0%, transparent 27%,rgb(56,56,91) 27%, rgb(56,56,91) 38%,rgb(56,56,91) 38%, rgb(56,56,91) 70%,transparent 66%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    */
    /*
    background-image: url("/img/mainBackground.svg");
    */
}

#blurLayer {
    background-color: #ffffff22;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

#progressBarContainer {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff44; /*#2d2f46*/
}

    #progressBarContainer > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 86%;
        max-width: 400px;
        min-width: 200px;
        background-color: #fff; /*#2d2f46*/
        padding: 2.4em;
        border-radius: 1.8em;
        box-shadow: rgba(50, 50, 93, 0.3) 0px 30px 60px -12px, rgba(0, 0, 0, 0.4) 0px 18px 36px -18px;
        z-index: 3;
        color: #2d2f46; /*  #d2caee*/
    }

#progressProcentage {
    display: flex;
    justify-content: center;
    margin-bottom: 1.3em;
    font-family: monospace;
    font-size: 1.4em;
    
    min-height: 1.4em;
}

#progressBar {
    height: 1.8em;
    background-color: #74e8c1; /*#74e8c1  #d2caee*/
    border-radius: 0.8em;
    width: 0%;
}

#progressInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6em;
}

#interruptAjaxUploadButton{
    position:absolute;
    top:1.2em;
    right:1.2em;
    border:solid 4px #000000aa;
    height: 1.4em;
    width: 1.4em;
    border-radius:6px;
    cursor:pointer;
}
    #interruptAjaxUploadButton:hover {
        border: solid 4px #000000bb;
    }

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2d2f46;
    color: #f4f1fe;
    text-align: center;
    padding: 3px;
    font-weight: 500;
    font-family: monospace;
}

footer::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: .1px;
    border: none;
    background-color: #19255633;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
}

@media (max-width: 1000px) {
    .navbar {
        position: fixed !important;
        top: 0;
        z-index: 2;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    }

    .customNavbar {
        background-color: #f4f1febb;
        padding: 3px !important;
        backdrop-filter: blur(100px);
        -webkit-backdrop-filter: blur(100px);
    }

    #dropZoneContainer {
        margin-top: 100px;
    }

    .tableButtonCell > .tableButtonDecrypt{
        background-color:transparent;
    }
}



@media (min-width: 768px) {
    html {
        font-size: 1em;
    }
}


@media (max-width: 768px) {
    :root {
        --mainContainerHeight: calc(100vh - 102px);
        --mainContainerWidth: 92vw;
    }

    .nabBarContainer {
        justify-content: center;
    }

    #displaySelectedTextFiles {
        display: none;
    }

    .navbarUl {
        direction: unset !important;
    }

    .navbar-brand {
        display: none !important;
    }

    #processingMsg {
        display: none;
    }

    .tableButtonCell a, .altrnativetableButtonCell a,
    .tableButtonCell input, .altrnativetableButtonCell input,
    .tableButtonCell button, .altrnativetableButtonCell button {
        margin: 0.3em 0 0 0.4em;
        padding: 18px 20px;
    }



    #passwordWindow > div {
        padding: 1em 0.8em 1.6em 0.8em;
        position: fixed;
        width:90vw;
        max-width:250px;
    }

    .customInputGroup {
        min-width: 220px;
    }

    #closePasswordWindowBtn {
        width: 20px;
        height: 20px;
    }

    .collpasedNavbarIcons {
        border-top: solid thin #000;
        margin-top: 12px !important;
        padding-top: 4px !important;
    }





    #displayUploadedImg, #displayUploadedImgDownload {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        max-height:81vh;
    }

    #dropZoneContainer {
        margin-top: 70px;
    }

    #dropZone {
        border-radius: 14px;
        padding: 0;
    }

    #InfoZone {
        border-radius: 14px;
    }

    .navbar {
        position: fixed !important;
        top: 0;
        z-index: 2;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    }



    .displayUploadedImgCaseTableContainer {
        border-radius: 0;
        max-height: unset;
        height: fit-content;
        overflow-y: auto;
        background-color: transparent;
        box-shadow: unset;
        border-top: solid thin #717792;
        border-bottom: 0;
        bottom: 0;
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        border-radius: 16px;
    }

    #displayUploadedImg > div, #displayUploadedImgDownload > div {
        width: 60px;
    }


    #displayUploadedImg img, #displayUploadedImgDownload img {
        height: 50px;
    }


    .tableButtonCell > .tableButtonAddPassword {
        background-image: url("/img/shield-lock.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        background-size: 1.8em;
        margin-right: 0.7em;
    }

    .tableButtonCell > .tableButtonAddPasswordGreen {
        background-size: 1.8em;
        background-position-y: 8.5px;
    }


    .tableButtonCell > .tableButtonAddImage {
        background-size: 2.3em;
        background-position-x: 2px;
    }

    .tableButtonCell > .tableButtonRemoveFiles {
        background-size: 1.85em;
    }

    .tableButtonCell > .downloadFiles {
        background-size: 1.8em;
    }

    footer{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:0.82em;
        padding:0 0 5px 0;
        background-color:transparent;
        color:#000;
    }

        footer::after {
            content: '';
            background-color: transparent;
            backdrop-filter: blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }

    /*
    #logoContainer {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: var(--mainContainerWidth);
        height: 85px;
        background-color: transparent;
        background-image: url("/img/logo&Name.svg"), linear-gradient(90deg, #00000000, #00000011, #00000000 );
        background-size: 6em, 100%;
        border: none;
        border-radius: 0;
        top: 6em;
        box-shadow: none;
        animation: none;
    }
        */

    #logoContainer {
        background-color:#ffffffdd;
        width: 125px;
        height: 115px;
        border-radius: 12px;
        background-size: 6.4em;
        box-shadow: rgba(50, 50, 93, 0.35) 0px 30px 60px -12px, rgba(0, 0, 0, 0.4) 0px 18px 36px -18px;
    }
}



/*All touch screen and mobile devices (including tablets, smartphones) can be detected with css with the following @media rule.*/
@media only screen and (pointer: coarse) {
    :root {
        --mainContainerHeight: 75vh !important;
    }
}